.itemDetailsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  grid-template-areas:
    "image description"
    "image border";
  gap: 2em;
  padding-block-end: 0.5em;
}

.itemDetailsImageContainer {
  grid-area: image;
  place-self: start center;
}

.itemDetailsImage {
  object-fit: contain;
  max-width: 100%;
}

@media (max-width: 64em) {
  .itemDetailsContainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "description"
      "border";
  }
}
