.itemDetailsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  grid-template-areas:
    "image description"
    "image border";
  gap: 2em;
  padding-block-end: 0.5em;
}

.itemDetailsImageContainer {
  grid-area: image;
  position: relative;
}

.itemDetailsImage {
  object-fit: contain;
}
