.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 14rem;
  background-color: var(--elements);
  color: inherit;
  padding-block: 1.5em;
  padding-inline: 1em;
  border: none;
  border-radius: var(--app-border-radius);
}

.dropdown button:focus {
  outline: 2px solid var(--accent);
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 0.5em;
  width: 100%;
  background-color: var(--elements);
  overflow: auto;
  z-index: 1;
  margin-block-start: 0.3em;
  border-radius: var(--app-border-radius);
  padding-block: 0.3em;
}

.dropdownContent li {
  padding-block: 0.2em;
  padding-inline: 1.5em;
}

.dropdownContent li:hover {
  background-color: var(--accent);
}

.dropdownContent li a {
  display: block;
}

.dropdownIconColor {
  fill: var(--text);
}
