.yearForm {
  display: flex;
  gap: 2em;
}

.yearFormItem {
  display: flex;
  flex-direction: column;
}

.yearFormItem label {
  padding-block-end: 0.2em;
}

.yearFormItem input {
  border: none;
  background-color: var(--elements);
  border-radius: var(--app-border-radius);
  color: inherit;
  width: 100%;
  font-family: inherit;
  padding-block: 0.8em;
}

.yearForm button {
  background-color: var(--elements);
  border-radius: var(--app-border-radius);
  padding-inline: 1em;
}
